@font-face{
  font-family: Mulish;
  src: url(../fonts/MULISH-VARIABLEFONT_WGHT.TTF)
}


.essay h2 {
  font-family: Mulish;
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.essay p {
  font-family: Mulish Light; 
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  margin-top: 1.5rem; /* 32px */
  color: #353535;
}

.essay h4{
  font-family: Mulish Semibold;
  margin-top: 2rem;
  font-size: 24px; 

}

.essay li {
  font-family: Mulish Light;
  margin-top: 0.5rem;
  font-size: 1.125rem;
  color: #353535;
}

@media screen and (max-width: 600px) {
  .essay h2 {
  font-family: Mulish;
  font-size: 1.75rem; /* 36px */
  line-height: 2rem; /* 40px */
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

  .essay p {
    font-family: Mulish Light;
    font-size: 1rem; 
    line-height: 1.75rem;
    margin-top: 1.5rem;
    color: #353535;
  }

  .essay h4{
  font-family: Mulish Semibold;
  margin-top: 1.75rem;
  font-size: 21px; 

}

.essay li {
  font-family: Mulish Light;
  margin-top: 0.4rem;
  font-size: 1rem;
  color: #353535;
}
}