@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mb-6 text-3xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply mb-4;
  }
  a {

  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face{
  font-family: Mulish;
  src: url(../fonts/MULISH-VARIABLEFONT_WGHT.TTF)
}

.transform-middle{
  transform: translate(-50%,-50%);
}

.font-black{
  font-family: Mulish Black;
}

.font-bold{
  font-family: Mulish;
}

.font-extrablack{
  font-family: Mulish ExtraBlack;
}

.font-extrabold{
  font-family: Mulish ExtraBold;
}

.font-extralight{
  font-family: Mulish ExtraLight;
}

.font-light{
  font-family: Mulish Light;
}

.font-medium{
  font-family: Mulish Medium;
}

.font-regular{
  font-family: Mulish Regular;
}

.font-semibold{
  font-family: Mulish SemiBold;
}
